<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidat Detayları</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-5 px-4">
        <% if (aidat) { %>
            <h2 class="text-3xl font-semibold mb-4">
                <%= aidat.month %>
                    <%= aidat.year %> Aidat Detayları
            </h2>

            <div class="overflow-x-auto">
                <table class="w-full table-auto bg-white shadow-md rounded-lg">
                    <thead>
                        <tr class="bg-gray-200 text-gray-700">
                            <th class="px-4 py-2">Harcananlar</th>
                            <th class="px-4 py-2">Tutar</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600">
                        <% let totalAmount=0; %>
                            <% aidat.details.forEach(detail=> { %>
                                <% JSON.parse(detail).forEach(item=> { %>
                                    <% totalAmount +=item.price; %>
                                        <tr>
                                            <td class="border px-4 py-2">
                                                <%= item.name %>
                                            </td>
                                            <td class="border px-4 py-2">
                                                <%= item.price %>₺
                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% }); %>
                                                <tr class="bg-gray-200 text-gray-700">
                                                    <td class="border px-4 py-2">Toplam</td>
                                                    <td class="border px-4 py-2">
                                                        <%= totalAmount %>₺
                                                    </td>
                                                </tr>
                    </tbody>
                </table>
            </div>
            <% } else { %>
                <p class="text-xl text-center">Aidat detayları bulunamadı.</p>
                <% } %>
    </div>
</body>

</html>
